/* WaterQualityChart.css */

.chart-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .legend-color {
    width: 20px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
  }

  .legend-line {
    display: inline-block;
    width: 20px;
    border-bottom: 2px solid rgba(255,19,19,255); /* Solid line */
    margin-right: 8px;
  }
  